#parent{
    position: relative;
}
.d1{width: 100% ;   
}
.d2{
    width: 75%;
    position: absolute;
    top: 80%;
    margin-left: 200px;
    background:whitesmoke;
    padding-left: 10px;
}
#s1{
    min-height:220px;
    background-color:red;
    color:white;
}
#s1 h1{
    font-size: 70px;
    color:white;
    margin-top:50px;
}
#s1 .well {
    margin-top:31px;
    background-color:lightcoral;
    border-color:black;
    color:white;
    min-height:125px;
}
body {
    color:#646464;
    background-color:white;
}
img {
    border-radius: 50%;
  }
